body {
    background-image:url("backyo.jpeg");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h2 {
    text-align: center;
    font-family: Garamond, sans-serif;
    color: lightsteelblue;
    
}
h3 {
    text-align: center;
    font-family: Garamond, sans-serif;
    font-weight: lighter;
}
h1 {
    font-family: Garamond, sans-serif;
    font-weight: lighter;
    font-size: xx-large;
    color: lightsteelblue;
    text-align: center;
}
p {
    font-family: Garamond, sans-serif;
    font-weight: lighter;
    text-align: center;
}
ol {
    font-family: Garamond, sans-serif;
    font-weight: lighter;
    text-align: center;
}
